<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Minha Primeira Página Symfony</title>
    </head>
    <body>
        <h1>{{ message }}</h1>
        <p>Se você está vendo isto, seu primeiro Controller está funcionando!</p>
    </body>
</html>