{% extends 'base.html.twig' %}

{% block title %}Too many requests{% endblock %}

{% block body %}
    <h1>429 - Too many requests</h1>
    <p>You have sent too many requests in a short period of time.</p>

    <a href="{{ path('homepage') }}">Back to homepage</a>
{% endblock %}